<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        Spring容器可以自动去扫描base-pack所指定的包或其子包下面的java类文件，
        如果扫描到有@Component、@Controller、@Service 、@Repository等注解修饰的Java类，
        则将这些类注册为spring容器中的bean。
    -->
    <context:component-scan base-package="cn.wengzi.ssm.service"/>

</beans>